/* app css stylesheet */

body {
  margin: 25px;
  padding: 20px;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.error {
  color: red;
}

html { 
  background: url('../images/bg1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

svg {
	background-color:rgba(124,124,124,0.75)
}


app{
	padding:50px;
}

.topnav ul li {
border-right: 1px solid #fff;
display: inline;
float: left;
font-size: 22px;
margin-bottom: 0;
margin-left: 14px;
padding-right: 14px;
}

.topnav ul li.last {
border-right: 0 none;
}

.topnav .inside {
background: none repeat scroll 0 0 rgba(0, 51, 102, 1);
float: none;
overflow: hidden;
height: 30px;
position: relative;
top: -155px;
}

.lodlive {
	height: 800px;
	width:100%;
}

#blue-bar {
background: #036;
position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: 60px;
}

#introduction {
	background-color: rgba(125,125,125,0.9);
	width: 300px;
}

footer {
clear: both;
width: 100%;
height: 114px;
margin: 0 auto;
font-size: 1em;
color: white;
/*background-color: #FBFBF9;*/
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.people li,
.skills li {
	position: relative;
}

.people li > .btn,
.skills li > .btn {
	margin-right: 38px;
}

.addButton {
	border: none;
	border-left: 1px solid #e0e0e0;
	padding: 0px;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 6px !important;
	height: 100%;
	background: #fff;
	opacity: 0.7;
	transition: opacity 0.2s, background 0.2s;
}
.addButton:hover {
	opacity: 1;
	background: #eee;
}


.removeButton {
	background: transparent;
	border: none;
	height: 20px;
	width: 20px;
	padding: 0px;
}
[ng-model=addPersonList] .removeButton,
[ng-model=addSkillList] .removeButton {
	position: absolute;
	right: -22px;
	top: 4px;
}
[data-title="'Skill'"] .removeButton {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
}

.columnHeader {
	cursor: pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.sorting_asc {
background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting_both {
background: url('../images/sort_both.png') no-repeat center right;
}

.row_odd {
	background-color: white;
}

.row_even{
	background-color: #CCCCCC;
}

.pagination a {
	background: white;
	cursor: pointer;
	transition: background 0.15s;
}
.pagination .active a,
.pagination .disabled a,
.pagination .disabled a:hover {
	background: #e5e5e5;
	border-color: #fff
}
.pagination a {
	padding: 0 9px;
}

.pagination {
	margin: 10px 0 10px 25px;
}
.pagination[boundary-links] {
	width: auto;
	margin-left: 0;
}
#table1 + div,
#table2 + div {
	width: 300px;
}
#table2 + div {
	margin-left: -68px;
	float: right;
}
#table2 + div > .pagination {
	float: right;
}

[ng-model=addSkillList] select {
	width: 100% !important;
	clear: both;
	margin-top: 5px;
}

[ng-model=addPersonList].btn,
[ng-model=addSkillList].btn {
	margin-bottom: 4px;
}

table.table td {
	border-radius: 0;
}
table.table tr:hover td {
	background: #eee;
}

td[data-title="'Skill'"] {
	position: relative;
	padding-left: 22px;
}

a, .btn, button {
	outline: none !important;
}