<div class="container-fluid">
    <h2>Add a Skill</h2>
        <div id="circle">&nbsp;</div>
			<div class="row-fluid" style="width:100%;">
				<div id="table1 container" style="width:35%; float:left;">
					<div>
						<input type="text" data-ng-model="name.person" placeholder="Search for a person"/>
						<br/>
					</div>
					<div>
						<p class="error">{{error}}</p>
						<table ng-table class="table" ng-show="(filteredpeopleData = (peoplelist | filter:name)) ">
						<th> People </th>
						<tr ng-repeat="row in filteredpeopleData">
							<td>
								<div class="btn btn-primary btn-draggable"
								data-drag="true"
								data-jqyoui-options="{revert: 'invalid'}"
								ng-model="filteredpeopleData"
								jqyoui-draggable="{animate:true}"
								>
									<a href="{{row.personuri.value}}" style="color:white;"> {{row.person.value}} </a></div>
								</div>
							</td>
						</tr>
						</table>
						<p>
						Results Found: {{(filteredpeopleData).length}}
						</p>
					</div>
				</div>
				<div id="spacer container" style="width:25%; padding:200px 5px; float:left; text-align:center; vertical-align:middle;">
					<div class="thumbnail"
					data-drop="true"
					data-jqyoui-options="{accept:'.btn-draggable:not([ng-model!=filteredpeopleData])'}"
					ng-model="addPersonList"
					jqyoui-droppable="{multiple:true}"
					style='padding:25px; width:30%; float:left;'>
						<div class="btn btn-success btn-draggable"
						data-drag="true"
						ng-repeat="item in addPersonList"
						data-jqyoui-options="{revert: 'invalid'}"
						ng-model="addPersonList"
						jqyoui-draggable="{animate:true}"
						style='height:50px; width:50%; align:center;'
						>
							{{item.person.value}}
						</div>
					</div>
					has skill
					<div class="thumbnail"
					data-drop="true"
					data-jqyoui-options="{accept:'.btn-draggable:not([ng-model!=filteredskillData])'}"
					ng-model="addSkillList"
					jqyoui-droppable="{multiple:true}"
					style='padding: 25px; width:30%; float:right;'>
						<div class="btn btn-success btn-draggable"
						data-drag="true"
						ng-repeat="item in addSkillList"
						data-jqyoui-options="{revert: 'invalid'}"
						ng-model="addSkillList"
						jqyoui-draggable="{animate:true}"
						style='height:50px; width:50%; align:center;'
						>
							{{item.skill.value}}
						</div>
					</div>

				</div>
				<div id="table2 container" style="width:35%; float:left;">
					<div>
						<input type="text" ng-model="skill.skill" placeholder="Search for a skill"/>
						<br/>
					</div>
					<div>
						<p class="error">{{error}}</p>
						<table ng-table class="table" ng-show="(filteredskillData = (skilllist | filter:skill))" >
						<th> Skills </th>
						<tr ng-repeat="row in filteredskillData">
							<td>
								<div class="btn btn-info btn-draggable"
								data-drag="true"
								data-jqyoui-options="{revert: 'invalid'}"
								ng-model="filteredskillData"
								jqyoui-draggable="{animate:true}"
								>
									{{row.skill.value}}
								</div>
							</td>
						</tr>
						</table>
						<p>
						Results Found: {{(filteredskillData).length}}
						</p>
					</div>
				</div>
				<div>
				addPersonList: {{addPersonList}}<br>
				addSkillList: {{addSkillList}}
				</div>
			</div>
		</div>
</div>