<div class="container-fluid">
    <h2>Add a Skill</h2>
			<div class="row-fluid" style="width:100%;">
				<div id="table1 container" style="width:35%; float:left;">
					<div>
						<input type="text" data-ng-model="name.person" placeholder="Search for a person"/>
						<br/>
					</div>
					<p>
						Results Found: {{(filteredpeopleData).length}}
					</p>
					<div>
						<p class="error">{{error}}</p>
						<table ng-table class="table" ng-show="(filteredpeopleData = (peoplelist | filter:name)) ">
						<th> People </th>
						<tr ng-repeat="person in filteredpeopleData">
							<td>
								<div class="btn btn-primary btn-draggable"
								data-drag="true"
								data-jqyoui-options="{revert: 'invalid'}"
								ng-model="person"
								jqyoui-draggable
								>
									<a href="{{person.personuri.value}}" style="color:white;"> {{person.person.value}} </a></div>
								</div>
							</td>
						</tr>
						</table>
					</div>
				</div>		
				<div id="spacer container" style="width:25%; padding:200px 5px; float:left; text-align:center; vertical-align:middle;">
					<h4 style="padding:25px; width:30%; float:left; text-align:center;">Person</h4>
					<h4 style="padding:25px; width:30%; float:right">Has Skills</h4>
					<div class="thumbnail" 
						data-drop="true" 
						data-jqyoui-options="{accept:'.btn-draggable:not([ng-model!=person])'}" 
						ng-model="addPersonList" 
						jqyoui-droppable="{multiple:false}" 
						style='padding:25px; width:30%; float:left;'>
						<div class="btn btn-primary btn-draggable" 
							data-drag="true" 
							ng-repeat="item in addPersonList" 
							data-jqyoui-options="{revert: 'invalid'}" 
							ng-model="addPersonList" 
							jqyoui-draggable
							style='width:75%; align:center;'>
							{{item.person.value}}
						</div>
					</div>
					<div class="thumbnail"
					data-drop="true"
					data-jqyoui-options="{accept:'.btn-draggable:not([ng-model!=skill])'}" 
					ng-model="addSkillList"
					jqyoui-droppable="{multiple:true}"
					style='padding: 25px; width:30%; float:right;'>
						<div class="btn btn-info btn-draggable"
						data-drag="true"
						data-jqyoui-options="{revert: 'invalid'}"
						ng-repeat="item in addSkillList"
						ng-model="addSkillList"
						jqyoui-draggable
						style='width:75%; align:center;'
						>
							{{item.skill.value}}
						</div>
					</div>
					<div  style="padding: 25px 0px; width: 100%; float:left;">
						<div class = "btn btn-success" style="padding: 10px; width: 30%; font-size:20px;">
							Submit!
						</div>
					</div>

				</div>
				<div id="table2 container" style="width:35%; float:left;">
					<div>
						<input type="text" ng-model="skill.skill" placeholder="Search for a skill"/>
						<br/>
					</div>
					<p>
						Results Found: {{(filteredskillData).length}}
					</p>
					<div>
						<p class="error">{{error}}</p>
						<table ng-table class="table" ng-show="(filteredskillData = (skilllist | filter:skill))" >
						<th> Skills </th>
						<tr ng-repeat="skill in filteredskillData">
							<td>
								<div class="btn btn-info btn-draggable"
								data-drag="true"
								data-jqyoui-options="{revert: 'invalid'}"
								ng-model="skill"
								jqyoui-draggable
								>{{skill.skill.value}}</div>
							</td>
						</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
</div>