<div class="container-fluid">
    <h2>Add a Skill</h2>
			<div class="row-fluid" style="width:100%;">
				<div id="table1 container" style="width:35%; float:left;">
					<div>
						<input type="text" data-ng-model="name.person" placeholder="Search for a person"/>
						<br/>
					</div>
					<p>
						Results Found: {{(peoplelist|filter:name).length}}
					</p>
					<div>
						<p class="error">{{error}}</p>
						<table ng-table class="table">
						<th> People </th>
						<tr ng-repeat="person in peoplelist|filter:name">
							<td>
								<div class="btn btn-primary btn-draggable"
								data-drag="true"
								data-jqyoui-options="{revert: 'invalid'}"
								ng-model="peoplelist"
								jqyoui-draggable="{index: {{$index}}, animate: false}"
								>
									<a href="{{person.personuri.value}}" style="color:white;"> {{person.person.value}} </a></div>
								</div>
							</td>
						</tr>
						</table>
					</div>
				</div>		
				<div id="spacer container" style="width:25%; padding:200px 5px; float:left; text-align:center; vertical-align:middle;">
					<div>
						<h4 style="padding:20px; width:30%; float:left; text-align:center;">Person</h4>
						<h4 style="padding:20px; width:30%; float:right">Has Skills</h4>
					</div>
					<div class="thumbnail" 
						data-drop="true" 
						ng-model="addPersonList"
						data-jqyoui-options="{accept:'.btn-draggable:not([ng-model!=peoplelist])'}" 
						jqyoui-droppable="{multiple: true}" 
						style='padding:25px; width:30%; float:left;'>
						<div class="btn btn-primary btn-draggable" 
							data-drag="true" 
							ng-repeat="item in addPersonList" 
							data-jqyoui-options="{revert: 'invalid'}" 
							ng-model="addPersonList" 
							jqyoui-draggable="{index: {{$index}}, animate:true, applyFilter: 'name'}"
							style='width:75%; align:center;'>
							{{item.person.value}}
						</div>
					</div>
					<div class="thumbnail"
					data-drop="true"
					ng-model="addSkillList"
					data-jqyoui-options="{accept:'.btn-draggable:not([ng-model!=skilllist])'}" 
					jqyoui-droppable
					style='padding: 25px; width:30%; float:right;'>
						<div class="btn btn-info btn-draggable"
						data-drag="true"
						data-jqyoui-options="{revert: 'invalid'}"
						ng-repeat="item in addSkillList"
						ng-model="addSkillList"
						jqyoui-draggable="{index: {{$index}}, animate:true, applyFilter: 'skill'}"
						style='width:75%; align:center;'
						>
							{{item.skill.value}}
						</div>
					</div>
					<div  style="padding: 25px 0px; width: 100%; float:left;">
						<div class = "btn btn-success" style="padding: 10px; width: 30%; font-size:20px;">
							Submit!
						</div>
					</div>

				</div>
				<div id="table2 container" style="width:35%; float:left;">
					<div>
						<input type="text" ng-model="skill.skill" placeholder="Search for a skill"/>
						<br/>
					</div>
					<p>
						Results Found: {{(skilllist|filter:skill).length}}
					</p>
					<div>
						<p class="error">{{error}}</p>
						<table ng-table class="table">
						<th> Skills </th>
						<tr ng-repeat="skill in skilllist|filter:skill">
							<td>
								<div class="btn btn-info btn-draggable"
								data-drag="true"
								data-jqyoui-options="{revert: 'invalid'}"
								ng-model="skilllist"
								jqyoui-draggable="{index: {{$index}}, animate: false}"
								>{{skill.skill.value}}</div>
							</td>
						</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
</div>